.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header  nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    font-size: 25px;
    text-decoration: none;
    color: deepskyblue;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    text-decoration: none;
    color:black;
    border-radius: 10px;
    background-color:lightcoral;
}
